/* Title */
.title {
	font-size: 25px;
	line-height: 1.6;
	font-weight: 700;
	color: #212529;
}
.title_white {
	color: #fff;
}
.title_medium {
	font-weight: 500;
}
/* ------------------- */
.text {
	line-height: 1.66;
}
