// blue colors
$blue100: #2C3878;
$blue90:#566093;
$blue75:#8088AE;
$blue50:#ABAFC9;
$blue25:#D5D7E4;
$blue10: #EAEBF2;

// black colors
$black: #000000;
$black70: #141414;
$black50: #333333;
$black30: #3C3C3C;
$black10: #9C9C9C;

// white colors
$lightgray: #D9D9D9;
$white: #FFFFFF;