@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:,regular,500,600,700&display=swap");

body {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

[class*="__container"] {
    max-width: 1277px;
    padding: 0 15px;
    margin: 0 auto;
}

.container_2 {
    max-width: 1200px;
}

.header {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #e5e5e5;
    background: url(../img/main-background.jpeg) center / cover no-repeat fixed;
    padding: 330px 0 108px 0;
}
.header__container {
}
.header__body {
}
.header__date {
    line-height: 1.66; /* 20/12 */
    margin-bottom: 15px;
}
.header__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6; /* 40/25 */
    color: #f8f9fa;
    max-width: 605px;
    margin-bottom: 15px;
}
.header__subtitle {
    max-width: 360px;
    line-height: 1.66; /* 20/12 */
    margin-bottom: 15px;
}


.main {
}
.speaker {
    background: linear-gradient(
            120deg,
            rgba(0, 0, 0, 0) 60%,
            rgba(234, 238, 253, 1) 60%,
            rgba(236, 240, 253, 1) 68%,
            rgba(214, 222, 248, 1) 68%,
            rgba(214, 222, 248, 0) 100%
        ),
        #f4f7ff;
}
.speaker__container {
    background: url(../img/speaker.jpeg) 95% no-repeat;
    padding: 145px 15px;
}
.speaker__body {
    background-color: rgba(244, 247, 255, 0.244);
    max-width: 570px;
}
.speaker__price {
    color: #3056d3;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33; /* 24/18 */
    margin-bottom: 15px;
}
.speaker__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25; /* 45/36 */
    color: #212b36;
    max-width: 470px;
    margin-bottom: 15px;
}
.speaker__subtitle {
    line-height: 1.5; /* 24/16 */
    color: #637381;
    margin-bottom: 35px;
}
.speaker__button {
    background-color: #3056d3;
    border-radius: 30px;
    padding: 10px 30px;
    color: #ffffff;
    font-weight: 600;
    display: inline-block;
}

.unorder {
    background: linear-gradient(
        180deg,
        rgba(244, 247, 255, 0.8590029761904762) 0%,
        rgba(191, 255, 247, 0.5032606792717087) 49%,
        rgba(255, 207, 227, 0.640515581232493) 100%
    );
}
.unorder-list__container {
    padding: 50px 15px;
}
.container_2 {
}
.unorder-list__title {
    color: #212b36;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.07; /* 28/26 */
    margin-bottom: 45px;
}
.unorder-list__content {
}
.unorder-list {
    display: inline-block;
    min-width: 33%;
    font-size: 0;
    vertical-align: top;
    margin-bottom: 60px;
    padding-right: 40px;
}
.unorder-list li {
    font-weight: 700;
    color: #637381;
    margin-bottom: 18px;
    font-size: 16px;
    min-height: 20px;
}
.unorder-list_1 li {
    background: url(../img/blue_dot.svg) 0 8px/ 8px no-repeat;
    padding-left: 18px;
}
.unorder-list_2 li {
    background: url(../img/blue_check.svg) 0 2px no-repeat;
    padding-left: 30px;
}
.unorder-list_3 li {
    background: url(../img/green_checked.svg) 0 2px no-repeat;
    padding-left: 30px;
}
.unorder-list_4 li {
    background: url(../img/red_cancel.svg) 0 2px no-repeat;
    padding-left: 30px;
}
.unorder-list_5 li {
    background: url(../img/blue_arrow.svg) 0 2px no-repeat;
    padding-left: 30px;
}
.unorder-list_6 li {
    background: url(../img/blue_star.svg) 0 2px no-repeat;
    padding-left: 30px;
}
