
$white: #F8F9FA;
$white-transparent:rgba(248, 249, 250, 0.5);
$gray-white: #E5E5E5;
$gray-white-transparent: rgba(229, 229, 229, 0.502);
$black: #212529;
$black-transparent: rgba(33, 37, 41, 0.3);
$light-black: #495057;
$beige: #DDBEA9;